* {
  font-family: sans-serif;
}
figure{
  text-align: center;
}
figure > img{
    height: 180px;
    width: 140px;
}

#content{
    display: flex;
    width: 1000px;
    flex-wrap: wrap;
}

a {
  text-decoration: none;
  color: black;
}
a:hover{
  color: darkgrey;
}
#featureMenu {
  margin-top: 0px;
  padding: 0 0 0 0;
  width: 100%;
  justify-content: flex-end;
  display: flex;
  margin: 25px;
}
#featureMenu ul {
  margin: 40px;
  text-transform: uppercase;
}
#featureMenu li {
  display: inline;
  padding: 0 0 0 20px;
  font-size: 10pt;
  margin-right: 50px;
}
/* ULs */

#greynav ul {
  padding: 0;
  display: none;
  background: #efefef;
  position: absolute;
  list-style: none;
  
}

#greynav > ul {
  background: #efefef;
  position: relative;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-right: 50px;
}

#greynav > ul > li > ul {
  top: 100%;
}

#greynav li:hover > ul {
  display: block;
}

/*LIs*/

#greynav  li  {
  float: none;
  position: relative;
  padding: 0;
}

#greynav > ul > li {
    float: right !important;
    border: none;
}
/* As */

#greynav a {
  display: block;
  padding: 30px;
  color: black;
  text-decoration: none;
  text-align: center
}

/*
#greynav li:hover a {
    color: #lightgrey;
}
*/

#greynav ul ul a:hover {
  background: lightgrey;
}

#greynav ul a:hover {
  color: darkgrey;
}
aside {
  float: left;
  margin-top: 25px;
  padding-right: 25px;
  text-decoration: underline;
  text-transform: uppercase;
  clear: right;
  height: inherit;
  border-right: 1px solid black;
  height: 100vh;

}
#filters {
  position: relative;
  top: 5em;
}


.inputcontainer {
  float: right;
}
#searchbar {
  position: relative;
  float: left;
  padding: 15px;
  font-size: 15px;
}
#button {
  float: right;
  background-color: darkgrey;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.itemListingCol{
  float: left;
  width: 20%;
  padding: 5px;
}

