#itemFigure {
	
}
aside{
	float: left;
	height: 100%;
	width: 40%;
}

#detailsWithReviews{
	float: right;
	width: 50%;
	margin-right: 50px;
}
#detailsWithCalendar{
	float: right;
	width: 50%;
	margin-right: 50px;
}
fieldset{
	width: 50%;
}
#sizeSelect{
	width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  appearance: menulist-button;
  height: 50px;
  font-size: 16px;
}
#color{
	width: 92.5%;
  padding: 12px 20px;
  margin: 8px 0;
}
#itemSize{
	width: 80%;
	float: right;
}
#labelColor{
	width: 80%;
	float: right;
}

#reviews{
	float: right;
}
.reviewerImg{
	width: 50px;
	height: 100%;
	float: left;
	display: inline-block;
	clear: right;
	margin-top: 20px;
}
.nameAndReview{
	width: 80%;
	float: right;
}
.upcycle {
width: 100%;
padding: 12px 20px;
margin: 8px 0;
display: inline-block;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
font-size: 16px;
}

#subm {
width: 100%;
background-color: dimgrey;
color: white;
padding: 14px 20px;
margin: 8px 0;
border: none;
border-radius: 4px;
cursor: pointer;
}
input[type=submit]:hover {
background-color: #45a049;
}
#form {
border-radius: 5px;
background-color: #f2f2f2;
padding: 20px;
} 
</style>